body {
  box-sizing: border-box;
  margin: 0 auto;
  @media (max-width: 700px) {
    max-width: 360px;
  }
}

.app {
  max-width: 680px;
  margin: 0 auto;

  @media (max-width: 700px) {
    max-width: 360px;
  }
}
.btn {
  outline: none;
  width: auto;
  border: none;
  background: none;
}
@import 'weatherInfo';



