.weather-page {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  max-width: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  &__card-container {
    width: 100%;
    position: relative;
  }
  &__card {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
  }
  &__card-title{
    font-size: 22px;
  }
  &__card-menu-button {
    outline: none;
    border: none;
    background: transparent;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 2;
    &.active {
      .weather-info__menu-btn-line{
        &:nth-child(1){
          top: 28px;
          left: 0;
          transform: rotateZ(177deg);
          opacity: 0;
        }
        &:nth-child(2) {
          transform: rotateZ(135deg);
          left: 0;
          top: 28px;
        }
        &:nth-child(3) {
          top: 28px;
          left: 0;
          transform: rotateZ(-315deg);
        }

      }

    }


  }
  &__card-menu-button-line-container{
    position: relative;
    .weather-info__menu-btn-line {
      transition: .6s;
      position: absolute;
      width: 27px;
      height: 4px;
      border-radius: 4px;
      background: black;
      left: 50%;
      transform: translateX(-50%);
      &:nth-child(1){
        top: 19px;
      }
      &:nth-child(2){
        top: 27px;
      }
      &:nth-child(3){
        top: 35px;
      }
    }
  }
  &__card-menu {
    display: none;
  }
  &__card-menu_activated{
    display: flex;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: greenyellow;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
  }
  &__submit-btn {
    margin: 20px auto;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
  }
  &__cities {
    display: flex;
    gap: 30px;
  }
}

